<h1>Demande de congés pour : {{this.leavePeriod!.employeeId}}</h1><br />
<h1>Status de la demande : 
    @if(leavePeriod.leavePeriodDemand!.status === 0){
        <span style="color: blue;">En attente de réponse.</span>
    }
    @if(leavePeriod.leavePeriodDemand!.status === 1){
        <span style="color: green;">Acceptée.</span>
    }
    @if(leavePeriod.leavePeriodDemand!.status === 2){
        <span style="color: red;">Refusée.</span>
    }
</h1>

<h3>Date de début : {{getStartDate().toLocaleString()}}</h3>
<h3>Date de fin : {{getEndDate().toLocaleString()}}</h3>
<h3>Type de congés : {{leavePeriodTypeLabelMapping.get(this.leavePeriod.leavePeriodDemand!.type)}}</h3>
@if (leavePeriod.leavePeriodDemand!.comment !== '') {
    <h3>Commentaire : {{leavePeriod.leavePeriodDemand!.comment}}</h3>
}
@if (leavePeriod.leavePeriodDemand!.managerComment !== '') {
    <h3>Commentaire Manager : {{leavePeriod.leavePeriodDemand!.managerComment}}</h3>
}

<button (click)="backButton()">Retour</button>